

<!--
<h2>{{hero.name | uppercase }} Details</h2>
<div><span>id : </span> {{hero.id}}</div>
<div><span>id : </span> {{hero.name}}</div>

-->
<!--
<div>
  <label for="name">Hero name: </label>
  <input id="name"  [(ngModel)]="hero.name" placeholder="name" />
</div>
-->
<h2>My heroes</h2>
<ul class="mockheroes">
  <li *ngFor="let heroBass of mockheroes">
    <button type="button" [class.selected]="heroBass===selectedHero" (click)="onSelect(heroBass)">
      <span class="badge">{{heroBass.id}}</span>
      <span class="name">{{heroBass.name}}</span>
    </button>
  </li>
</ul>

<app-hero-detail [heroDetail]="selectedHero"></app-hero-detail>
